<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method='POST' action='/team'>
     <p>Team Name: <input typd='text' name='name' /></p>
     <p>Coach: <input typd='text' name='coach' /></p>
     <p>Point Guard: <input typd='text' name='pg' /></p>
     <p>Shooting Guard: <input typd='text' name='sg' /></p>
     <p>Power Forward: <input typd='text' name='pf' /></p>
     <p>Small Forward: <input typd='text' name='sf' /></p>
     <p>Center: <input typd='text' name='c' /></p>
    <input id="submit" type="submit" name="submit">Submit</>
   </form>


 </body>
</html>
